<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>
	<body class="body-productform">
		<!-- header -->
		<%- include('./partials/header') %>
		<main>
			<form
				action="/products/<% product.id %> ?m=PUT"
				method="post"
				class="product-form"
				enctype="multipart/form-data"
			>
				<h3>Edición de productos</h3>
				<input type="hidden" name="id" value="<%= product.id %>" />
				<fieldset>
					<label for="name">Nombre:</label>
					<input type="text" id="name" name="product_name" value="<%= product.name %>" />
				</fieldset>
				<fieldset>
					<label for="description">Caracteristicas:</label>
					<textarea name="product_description" id="description">
<%= product.description %></textarea
					>
				</fieldset>
				<fieldset>
					<label for="">Imagen:</label>
					<input
						type="file"
						name="product_image"
						accept=".jpg, .png, .tiff"
						value="<%= product.image %>"
					/>
				</fieldset>
				<fieldset>
					<label for="category">Categoria:</label>
					<select name="category" id="category" value="<%= product.category %>">
						<option value="category 1">Categoria 1</option>
						<option value="category 2">Categoria 2</option>
						<option value="category 3">Categoria 3</option>
						<option value="category 4">Categoria 4</option>
						<option value="category 5">Categoria 5</option>
					</select>
				</fieldset>
				<fieldset>
					<label for="price">Precio:</label>
					<input
						type="number"
						id="price"
						name="product_price"
						value="<%= product.price %>"
					/>
				</fieldset>
				<fieldset>
					<label for="stock">Stock:</label>
					<input
						type="number"
						id="stock"
						name="product_stock"
						value="<%= product.stock %>"
					/>
				</fieldset>
				<fieldset>
					<label>¿Esta en oferta?</label><% if (product.ofer) { %>
					<input class="radio" type="radio" name="ofer" value="1" checked /> Si
					<input class="radio" type="radio" name="ofer" value="0" /> No <% } else { %>
					<input class="radio" type="radio" name="ofer" value="1" /> Si
					<input class="radio" type="radio" name="ofer" value="0" checked /> No <% } %>
				</fieldset>

				<button class="edit-product">Editar producto</button>
			</form>
		</main>
	</body>
</html>
