<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>

	<body class="body_login">
		<!-- header -->
		<%- include('../partials/header') %>
		<main>
			<section>
				<form class="formulario_login" id="login" action="/users/login" method="POST">
					<!-- <fieldset> -->
					<legend>Login</legend>
					<!-- <div class="contenedor-campos-login"> -->
					<fieldset 
						class="formulario__grupo campo formulario__grupo-input"
						id="grupo__email"
					>
						<label class="formulario__label" for="email">Correo</label>
						<input
							class="formulario__input input-text"
							type="email"
							id="email"
							name="email"
							placeholder="Email"
						/>
						<i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>

						<p class="formulario__input-error">Escribe una dirección de correo electrónico válida</p>
						<% if (locals.errores && errores.data) { %>
							<p class="text-danger"><%= errores.data.msg %></p>
						<% } else if (locals.errores && errores.email) { %>
							<p class="text-danger"><%= errores.email.msg %></p>
						<% } %>
					</fieldset>

					<fieldset 
						class="formulario__grupo campo formulario__grupo-input"
						id="grupo__password"
					>
						<label class="formulario__label" for="pass">Contraseña</label>
						<input
							class="formulario__input input-text"
							type="password"
							name="password"
							id="pass"
							placeholder="Contraseña"
						/>
						<i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>

						<p class="formulario__input-error">Escribe tu contraseña</p>
						<% if (locals.errores && errores.password) { %>
							<p class="text-danger"><%= errores.password.msg %></p>
						<% } %>
					</fieldset>
					<fieldset class="col-md-6 my-2 remember">
						<label for="form-check-label">
							<input type="checkbox" name="remember_user" id="form-check-label" />
							Recordar mi usuario
						</label>
						
					</fieldset>

					<nav class="recuperar_pass">
						<a href="#"
							><small class="letra_primario">¿Olvidaste tu contraseña?</small></a
						>

						<a href="register"
							><small class="letra_primario"
								>No tiene una cuenta? Registrarse></small
							></a
						>
					</nav>
					<section class="login__mensaje" id="login__mensaje">
						<p>
							<i class="fa-solid fa-triangle-exclamation"></i> Ingresa tus datos para Iniciar Sesión
						</p>
					</section>
					<!-- .contenedor-campos -->
					<!-- <div class="alinear-derecha flex"> -->
					<input
						class="boton w-sm-100 alinear-centro flex"
						type="submit"
						value="Iniciar Sesión"
					/>
					<!-- </div> -->

					<!-- </fieldset> -->
				</form>
			</section>
		</main>
		<script src="/js/login.js"></script>
	</body>
</html>
