<html lang="es">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" href="/css/productos.css" />
	</head>

	<body>
		<!-- header -->
		<%- include('../partials/header') %>

        <form action="/users/" method="get">
            <input type="text" name="search" id="search" placeholder="Buscar Usuario">
            <button type="submit">Buscar</button>
        </form>

		<h2><%= user.full_name %> </h2>
		<h2><%= user.email %> </h2>
		<h2><%= user.dni %> </h2>
		<h2><%= user.date_of_birth %> </h2>
		
	</body>
</html>

		
		
		